{{template 'users/form'}}

<a href='#' {{action create target='controller'}} class='btn btn-success'>{{buttonTitle}}</a>
<a href='#' {{action cancel target='controller'}} class='btn btn-inverse'>Cancel</a>

