Full name: {{fullName}}     {{#linkTo 'users.edit' content class='btn btn-primary'}}Edit{{/linkTo}}

<div>
  Quote: <q>{{quote}}</q>
</div>

<div class='page-header'></div>

{{#linkTo 'users.index' class='btn'}}Back to Users list{{/linkTo}}

